# =========================
# WordPress core（不要）
# =========================
wp-admin/
wp-includes/

# =========================
# アップロードファイル
# =========================
wp-content/uploads/

# =========================
# OS系
# =========================
.DS_Store

# =========================
# 環境ファイル
# =========================
.env

# =========================
# エディタ設定
# =========================
.vscode/

# =========================
# 不要ファイル
# =========================
*.log
*.tmp

# =========================
# WordPressデフォルトテーマ（不要なら）
# =========================
wp-content/themes/twentytwenty*